In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("pirates.csv")

In [3]:
column_type = df["parrots"].dtype
print(column_type)

object

In [4]:
df.head()

,id,sex,age,height,weight,headband,college,tattoos,tchests,parrots,favorite.pirate,sword.type,eyepatch,sword.time,beard.length,fav.pixar,grogg
0,1,male,28.0,173.11,70.5,yes,JSSFP,9,0,0,Jack Sparrow,cutlass,1,0.58,16,"Monsters, Inc.",11
1,2,male,31.0,209.25,105.6,yes,JSSFP,9,11,0,Jack Sparrow,cutlass,0,1.11,21,WALL-E,9
2,3,male,26.0,169.95,77.1,yes,CCCC,10,10,1,Jack Sparrow,cutlass,1,1.44,19,Inside Out,7
3,4,female,31.0,144.29,58.5,no,JSSFP,2,0,2,Jack Sparrow,scimitar,1,36.11,2,Inside Out,9
4,5,female,41.0,157.85,58.4,yes,JSSFP,9,6,4,Hook,cutlass,1,0.11,0,Inside Out,14

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1000 non-null   int64
 1   sex              1000 non-null   object
 2   age              999 non-null    float64
 3   height           1000 non-null   float64
 4   weight           1000 non-null   float64
 5   headband         999 non-null    object
 6   college          1000 non-null   object
 7   tattoos          1000 non-null   int64
 8   tchests          1000 non-null   int64
 9   parrots          1000 non-null   object
 10  favorite.pirate  999 non-null    object
 11  sword.type       1000 non-null   object
 12  eyepatch         1000 non-null   int64
 13  sword.time       999 non-null    float64
 14  beard.length     1000 non-null   int64
 15  fav.pixar        1000 non-null   object
 16  grogg            1000 non-null   int64
dtypes: float64(4), int64(6), object(7)
memory usage: 132.9+ KB

In [11]:
df.info

<bound method DataFrame.info of        id     sex   age  height  weight headband college  tattoos  tchests  \
0       1    male  28.0  173.11    70.5      yes   JSSFP        9        0
1       2    male  31.0  209.25   105.6      yes   JSSFP        9       11
2       3    male  26.0  169.95    77.1      yes    CCCC       10       10
3       4  female  31.0  144.29    58.5       no   JSSFP        2        0
4       5  female  41.0  157.85    58.4      yes   JSSFP        9        6
..    ...     ...   ...     ...     ...      ...     ...      ...      ...
995   996    male  26.0  178.83    70.8      yes    CCCC       14       11
996   997  female  34.0  157.20    53.6      yes   JSSFP       13       48
997   998    male  36.0  175.74    72.4      yes   JSSFP        9       95
998   999    male  30.0  175.24    70.2      yes   JSSFP        9        6
999  1000    male  30.0  189.45    84.0      NaN   JSSFP       10       36

    parrots favorite.pirate sword.type  eyepatch  sword.time  beard.length  \
0         0    Jack Sparrow    cutlass         1        0.58            16
1         0    Jack Sparrow    cutlass         0        1.11            21
2         1    Jack Sparrow    cutlass         1        1.44            19
3         2    Jack Sparrow   scimitar         1       36.11             2
4         4            Hook    cutlass         1        0.11             0
..      ...             ...        ...       ...         ...           ...
995       2    Jack Sparrow    cutlass         0        0.46            20
996       2            Hook    cutlass         0        0.15             0
997      14    Jack Sparrow    cutlass         1        1.28            18
998       0      Lewis Scot    cutlass         1        0.21            24
999       1    Jack Sparrow    cutlass         0        0.95            19

           fav.pixar  grogg
0     Monsters, Inc.     11
1             WALL-E      9
2         Inside Out      7
3         Inside Out      9
4         Inside Out     14
..               ...    ...
995               Up     13
996     Finding Nemo      8
997  The Incredibles     11
998       Inside Out     10
999               Up     14

[1000 rows x 17 columns]>

In [16]:
missing_data = df.isna().any()

In [26]:
for column_name, has_missing in missing_data.iteritems():
    if has_missing:
        missing_rows = df[df[column_name].isna()].index.tolist()
        print(f"Missing values in column '{column_name}':")
        for row_number in missing_rows:
            print(f"Row {row_number}: {df.at[row_number, column_name]}")

Missing values in column 'age':
Row 33: nan
Missing values in column 'headband':
Row 999: nan
Missing values in column 'favorite.pirate':
Row 634: nan
Missing values in column 'sword.time':
Row 136: nan

/var/folders/39/crqhrg617cvg177_1n2_rsw40000gn/T/ipykernel_4720/2173272415.py:1: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column_name, has_missing in missing_data.iteritems():

In [ ]:
df["age"].fillna(df["agez].mean(), inplace=True)

In [88]:
df.dropna(inplace=True) 
df.reset_index(inplace=True)

In [63]:
df["age"].mean()

27.3714859437751

In [64]:
df.loc[33,"age"]= df["age"].mean()

In [65]:
df.head(35)

,id,sex,age,height,weight,headband,college,tattoos,tchests,parrots,favorite.pirate,sword.type,eyepatch,sword.time,beard.length,fav.pixar,grogg
0,1.0,male,28.0,173.11,70.5,yes,JSSFP,9.0,0.0,0,Jack Sparrow,cutlass,1.0,0.58,16.0,"Monsters, Inc.",11.0
1,2.0,male,31.0,209.25,105.6,yes,JSSFP,9.0,11.0,0,Jack Sparrow,cutlass,0.0,1.11,21.0,WALL-E,9.0
2,3.0,male,26.0,169.95,77.1,yes,CCCC,10.0,10.0,1,Jack Sparrow,cutlass,1.0,1.44,19.0,Inside Out,7.0
3,4.0,female,31.0,144.29,58.5,no,JSSFP,2.0,0.0,2,Jack Sparrow,scimitar,1.0,36.11,2.0,Inside Out,9.0
4,5.0,female,41.0,157.85,58.4,yes,JSSFP,9.0,6.0,4,Hook,cutlass,1.0,0.11,0.0,Inside Out,14.0
5,6.0,male,26.0,190.20,85.4,yes,CCCC,7.0,19.0,0,Jack Sparrow,cutlass,1.0,0.59,17.0,Monsters University,7.0
6,7.0,female,31.0,158.05,59.6,yes,JSSFP,9.0,1.0,7,Blackbeard,cutlass,0.0,3.01,1.0,Cars,9.0
7,8.0,female,31.0,172.52,74.5,yes,JSSFP,5.0,13.0,7,Hook,cutlass,1.0,0.06,1.0,Inside Out,12.0
8,9.0,female,28.0,164.57,68.7,yes,JSSFP,12.0,37.0,2,Anicetus,cutlass,0.0,0.74,1.0,Toy Story 3,16.0
9,10.0,male,30.0,183.52,84.7,yes,JSSFP,12.0,69.0,4,Jack Sparrow,cutlass,1.0,0.71,25.0,Monsters University,9.0
10,11.0,female,25.0,162.49,63.5,yes,CCCC,10.0,1.0,3,Blackbeard,cutlass,1.0,0.78,1.0,Inside Out,7.0
11,12.0,male,20.0,163.65,70.0,yes,CCCC,14.0,5.0,3,Jack Sparrow,cutlass,0.0,0.47,27.0,"Monsters, Inc.",8.0
12,13.0,female,24.0,171.04,72.6,yes,CCCC,8.0,6.0,0,Lewis Scot,cutlass,0.0,0.53,0.0,"Monsters, Inc.",12.0
13,14.0,male,26.0,177.99,78.2,yes,CCCC,9.0,12.0,3,Jack Sparrow,cutlass,1.0,1.33,19.0,Inside Out,7.0
14,15.0,female,45.0,167.65,65.4,yes,JSSFP,14.0,70.0,0,Hook,cutlass,1.0,0.33,0.0,Monsters University,9.0
15,16.0,female,40.0,165.10,65.7,yes,JSSFP,8.0,3.0,1,Hook,scimitar,1.0,27.56,1.0,The Incredibles,10.0
16,17.0,male,21.0,177.52,72.7,yes,CCCC,11.0,3.0,0,Jack Sparrow,cutlass,0.0,0.33,20.0,Finding Nemo,15.0
17,18.0,female,30.0,158.30,65.6,yes,JSSFP,7.0,107.0,3,Blackbeard,cutlass,0.0,1.55,0.0,"Monsters, Inc.",8.0
18,19.0,female,35.0,173.07,72.8,yes,JSSFP,7.0,75.0,14,Hook,cutlass,0.0,0.72,0.0,Finding Nemo,11.0
19,20.0,male,26.0,175.45,69.0,yes,CCCC,14.0,30.0,3,Jack Sparrow,cutlass,0.0,0.40,27.0,WALL-E,10.0
20,21.0,male,22.0,187.83,85.8,yes,CCCC,10.0,11.0,6,Jack Sparrow,cutlass,0.0,0.50,12.0,"Monsters, Inc.",6.0
21,22.0,female,34.0,179.06,82.1,no,JSSFP,5.0,13.0,4,Edward Low,cutlass,1.0,0.03,2.0,Ratatouille,8.0
22,23.0,male,23.0,158.66,53.5,yes,CCCC,13.0,11.0,1,Edward Low,cutlass,0.0,0.02,29.0,Finding Nemo,13.0
23,24.0,male,12.0,175.29,83.0,yes,CCCC,10.0,3.0,2,Jack Sparrow,cutlass,1.0,0.14,24.0,Up,8.0
24,25.0,male,35.0,187.48,85.6,yes,JSSFP,10.0,18.0,1,Jack Sparrow,sabre,1.0,11.23,17.0,Inside Out,2.0
25,26.0,female,26.0,153.54,54.6,yes,CCCC,10.0,10.0,3,Blackbeard,cutlass,1.0,1.10,0.0,Inside Out,9.0
26,27.0,male,15.0,171.48,66.0,no,CCCC,2.0,2.0,0,Jack Sparrow,banana,1.0,44.74,18.0,Inside Out,10.0
27,28.0,male,30.0,177.04,71.9,yes,JSSFP,15.0,15.0,4,Edward Low,cutlass,1.0,0.35,29.0,Inside Out,15.0
28,29.0,female,17.0,145.98,57.4,yes,CCCC,14.0,1.0,1,Hook,cutlass,0.0,0.18,0.0,Finding Nemo,11.0
29,30.0,female,26.0,134.87,37.9,yes,CCCC,12.0,44.0,10,Edward Low,cutlass,1.0,0.59,1.0,Monsters University,2.0
30,31.0,male,22.0,196.69,91.7,no,CCCC,2.0,54.0,1,Jack Sparrow,cutlass,1.0,2.19,17.0,Monsters University,11.0
31,32.0,male,22.0,181.95,79.4,yes,CCCC,15.0,6.0,2,Hook,cutlass,1.0,0.12,29.0,Monsters University,9.0
32,33.0,male,31.0,190.02,90.5,yes,JSSFP,13.0,3.0,1,Jack Sparrow,cutlass,1.0,0.29,24.0,Inside Out,7.0
34,35.0,male,23.0,178.24,75.1,yes,CCCC,17.0,2.0,1,Hook,cutlass,0.0,0.34,24.0,Brave,8.0
35,36.0,female,18.0,163.09,63.3,yes,CCCC,9.0,14.0,0,Jack Sparrow,cutlass,0.0,0.14,0.0,Monsters University,9.0

In [68]:
unique_genders = df["sex"].unique()
num_unique_genders = len(unique_genders)
print("unique Genders")
for gender in unique_genders:
    print(gender)
    
print(num_unique_genders)

unique Genders
male
female
other
3

In [69]:
average_age = df["age"].mean()
print(average_age)

27.3714859437751

In [71]:
female_age = df[df["sex"]== "female"]["age"].mean()
print(female_age)

29.932900432900432

In [75]:
df["weight_pounds"] = df["weight"]* 2.20462

In [76]:
weight_under100 = df["weight_pounds"]< 100

In [77]:
percentage_under100 = (weight_under100.sum()/ len(df))*100

In [83]:
print(percentage_under100)

0.8032128514056224

In [82]:
shortest_height = df[df["id"]== "height"]["height"].min()
print(shortest_height)

id                 NaN
sex                NaN
age                NaN
height             NaN
weight             NaN
headband           NaN
college            NaN
tattoos            NaN
tchests            NaN
parrots            NaN
favorite.pirate    NaN
sword.type         NaN
eyepatch           NaN
sword.time         NaN
beard.length       NaN
fav.pixar          NaN
grogg              NaN
weight_pounds      NaN
dtype: object

In [89]:
idx= df["height"].idxmin()
print(idx)

37

In [91]:
idx= df["weight"].idxmax()
print(idx)

1

In [93]:
df["fav.pixar"].mode()[0]

'Inside Out'

In [94]:
df["eyepatch"].mean()

0.6576305220883534

In [95]:
df["eyepatch"].median()

1.0

In [99]:
df.loc[35, "parrots"] = 1
idx = 0
for i in df["parrots"]:
    df.loc[idx, "parrots"] = int(i)
    idx = idx +1

In [101]:
df["parrots"].mean()

2.819277108433735

In [102]:
df["parrots"].median()

2.0

In [9]:
newRow = pd.read_csv("PirateNewRow.csv")
combined_df = pd.

In [23]:
newCol = pd.read_csv("PirateNewColumn.csv")

In [17]:
pirate_df = pd.read_csv("pirates.csv")
PirateNewColumn_df = pd.read_csv("PirateNewColumn.csv")


combined_df = pd.concat([pirate_df, PirateNewColumn_df], ignore_index=True)


combined_df.to_csv('combined_pirates.csv', index=False)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1000 non-null   int64
 1   favorite.sea  1000 non-null   object
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

In [26]:
merged_df = pd.merge(combined_df,newCol, on= 'id',how = 'inner')

merged_df.head(5)